1- Print the three first rows using head() method

In [ ]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
df=pd.DataFrame(exam_data, index=labels)
df.head(3)

        name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes

2-Extract the 'name' and 'score' columns from the DataFrame.

In [ ]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
df=pd.DataFrame(exam_data, index=labels)
df.iloc[:, [0, 1]]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0
k      Elias   20.0
l     Myriam   16.0

3-Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [ ]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
df=pd.DataFrame(exam_data, index=labels)
df=df.drop("attempts", axis=1)
print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0     NaN
j      Jonas   19.0     yes
k      Elias   20.0     yes
l     Myriam   16.0     yes

4-Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0

In [ ]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
my_list=[]
for i in exam_data['score']:
  if i > 10:
    my_list.append(1)
  else:
    my_list.append(0)
exam_data['Success'] = my_list
df=pd.DataFrame(exam_data, index=labels)
print(df)

        name  score  attempts qualify  Success
a  Anastasia   12.5       1.0     yes        1
b       Dima    9.0       3.0      no        0
c  Katherine   16.5       2.0     yes        1
d      James    NaN       3.0      no        0
e      Emily    9.0       2.0      no        0
f    Michael   20.0       3.0     yes        1
g    Matthew   14.5       1.0     yes        1
h      Laura    NaN       1.0      no        0
i      Kevin    8.0       NaN     NaN        0
j      Jonas   19.0       1.0     yes        1
k      Elias   20.0       3.0     yes        1
l     Myriam   16.0       2.0     yes        1

5-After executing the final dataframe, export it into csv file named "my_data"

In [ ]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
my_list=[]
for i in exam_data['score']:
  if i > 10:
    my_list.append(1)
  else:
    my_list.append(0)
exam_data['Success'] = my_list
df=pd.DataFrame(exam_data, index=labels)
df.to_csv('df.csv')